table, thead, tbody, tr {
  border-radius: 5px;
}

thead th:nth-child(1) {
  border-radius: 5px 0 0 0;
}

thead th:nth-last-child(1) {
  border-radius: 0 5px 0 0;
}

tbody tr td:nth-child(1) {
  text-align: center;
}

tbody tr:nth-last-child(1) td:nth-child(1) {
  border-radius: 0 0 0 5px;
}

tbody tr:nth-last-child(1) td:nth-last-child(1) {
  border-radius: 0 0 5px 0;
}

th {
  text-align: center;
  padding: 10px;
}

td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
}
